html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;

  h1 {
    margin: 0;
    padding: 0;
  }

  .mainContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    background-color: white;

    .rightContent {
      flex: 5;
    }

    .sideBar {
      flex: 2;
      background-color: aquamarine;
    }

  }

  .banner {
    height: 300px;
    background-color: #69a96e;
  }

  .space {
    height: 1000px;
    background-color: darksalmon;
  }
}
