.sidebar {
  display: flex;
  position: sticky;
  align-self: flex-start;
  top: 90px;
  flex-direction: column;
  align-items: center;
  background-color: white;

  .sidebarContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .contentTitle {
      font-size: 25px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    img {
      width: 50%;
      border-radius: 50%;
    }

    .tagList {
      padding: 0 0 20px 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 10%;
      border-bottom: 1px solid #d2cece;

      .tagItem {
        padding: 3px 5px;
        margin: 5px 0;
        list-style: none;
        color: #5d5d5d;
        border: 1px solid #727272;
      }
    }

    .snsIcons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10%;
    }
  }
}
